@use "../library/mixins" as m;
@use "../library/variables" as v;
@use "../base/reset";


.cartContainer {
    position: fixed;
    top: 0;
    right: -200%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: v.$body-color;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    height: 100vh;
    @include m.desktop {
        width: 40%;
    }
    &__header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-bottom: 1em;
        @include m.desktop {
            h2 {
                width: 100%;
                text-align: center;
            }
            a {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        h2 {
            font-size: 1.5em;
            text-transform: uppercase;

        }
        div {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            &:hover {
                cursor: pointer;
                i {
                    color: v.$hr-line; 
                }
            }
            i {
                color: v.$nav-color;
                font-size: 1.5em;
                transition: color 0.1s ease-in-out;
            }
        }
    }
    &__priceProducts, &__priceFreight, &__totalPrice{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 0;
        text-transform: uppercase;
        @include m.cartContainersDesktopWidth;
    }
    &__products {
        border-top: v.$horisontalLine;
        display: flex;
        flex-direction: column;
        padding: 2em 1em;
        gap: 1em;
        max-height: 60vh;
        overflow-y: auto;
        @include m.cartContainersDesktopWidth;
        &__itemContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            // padding: 1em;
            gap: 1em;
            >  div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1em;
                &:nth-child(1){
                    width: 30%;
                    padding: 0.6em;
                    background-color: #fff;
                    @include m.desktop {
                        // @include m.imgContainer;
                        width: 50%;

                    }
                }
                &:nth-child(2){
                    border-radius: 2px;
                    width: 40%;
                }
                img {
                    width: 100%;
                }
                p {
                    font-weight: 700;
                    &:nth-child(2){
                        font-size: 0.6em;
                        font-weight: 400;
                    }
                }
                > div {
                    display: flex;
                    width: 80%;
                    button {
                        width: 30%;
                        border: none;
                    }
                    input {
                        @include m.itemAmountInput;
                    }
                }
            }
        }
    }
    &__priceProducts, &__priceFreight {
        span {
            font-size: 1em;
        }
    }
    &__priceProducts {
        border-bottom: v.$horisontalLine;
    }
    &__totalPrice {
        span {
            font-size: 1.5em;
        }
    }
    &__submitBtn {
        opacity: 0.3;
        @include m.submitGreenBtn;
    }
}
.show {
    opacity: 1;
    right: 0;
}