@use "../library/mixins" as m;
@use "../library/variables" as v;
@use "../base/reset";

header {
    display: none;
}
.cartContainer {
    width: 100%;
    height: auto;
    
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 1em;
    &__header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1em;
        @include m.desktop {
            h2 {
                width: 100%;
                text-align: center;
            }
            a {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        h2 {
            font-size: 1.5em;
            text-transform: uppercase;

        }
        a {
            &:hover {
                cursor: pointer;
            }
            i {
                color: #000;
                font-size: 1.5em;
            }
        }
    }
    &__priceProducts, &__priceFreight, &__totalPrice{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 0;
        text-transform: uppercase;
        @include m.desktop {
            width: 50%;
            margin: 0 auto;
        }
    }
    &__products {
        border-top: 2px solid v.$hr-line;
        @include m.desktop {
            width: 50%;
            margin: 0 auto;
        }
    }
    &__priceProducts, &__priceFreight {
        span {
            font-size: 1em;
        }
    }
    &__priceProducts {
        border-bottom: 2px solid v.$hr-line;
    }
    &__totalPrice {
        span {
            font-size: 1.5em;
        }
    }
    &__toCheckOut {
        text-decoration: none;
        @include m.desktop {
            width: 50%;
            margin: 0 auto;
        }
        div {
            text-align: center;
            background-color: v.$green-btn;
            color: #fff;
            font-size: 1em;
            padding: 1em;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            &:hover {
                cursor: pointer;
            }
            &:active {
                transform: scale(0.99);
            }
        }
    }
}
footer {
    display: none;
}