@use "../library/mixins" as m;
@use "../library/variables" as v;
@use "../base/reset";

.footer{
        margin: 0px;
        padding: 20px;
        width: 100%;
        background-color: v.$foot-color;

        @include m.desktop{ 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

        }

    .footer__primary{
        padding: 25px;
        display: flex;
        color: v.$landingpage-text-color; 
        justify-content: space-evenly;  
        flex-direction: column;
        align-items: center;

        @include m.desktop{
            display: flex;
            align-items: flex-start;  
            font-size: 30px;
        }
        
        h3{
            font-size: 24px;

            @include m.desktop{
                font-size: 30px;
              }
          
        }

        ul{
            display: flex;
            list-style-type: none;
            padding: 5px;
            margin: 2px;
            align-items: center;
            flex-direction: column;

            @include m.desktop{
                align-items: flex-start;
                position: relative;
                left: -8px;
              }

            li{
                margin: 6px;

                @include m.desktop{
                    margin: 2px;
                }
            
                a{
                    letter-spacing: 2px;
                    font-size: 18px;
                    color: v.$landingpage-text-color;
                    text-decoration: none;

                    &:hover{
                        border-bottom: 1px solid v.$landingpage-text-color;
                        
                    }

                    @include m.desktop{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .footer__social{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a{
            display: flex;
            align-items: center;
            padding: 10px;
            color: v.$landingpage-text-color;
            text-decoration: none;
            font-size: 25px;

            @include m.desktop{
                display: flex;
                align-items: center;
                padding: 20px;
                font-size: 28px;
              }

            i{
                font-size: 45px;
                padding-right: inherit;

                @include m.desktop{
                    font-size: 40px;
                    padding: 10px;
                }
            }
        }
    }
}

