@use "../base/reset";
@use "../library/mixins" as m;
@use "../library/variables" as v;

.paymentGreating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  border: 1px solid black;

  div {
    border: 1px solid black;
    padding: 4rem;
    border-radius: 2px;
    span {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 3px;
    }
    h2,
    h3 {
      @include m.paymentGreatingTitle;
      line-height: 2rem;
      letter-spacing: 0.2rem;
    }
  }
}
