@use "../library/mixins" as m;
@use "../library/variables" as v;
@use "../base/reset";

.main {
  width: 100%;
  height: 90vh;
  background-image: url(/src/images/landingpage-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: v.$landingpage-text-color;
  position: relative;
  @include m.desktop {
    background-position: bottom;
    background-image: url(/src/images/Nina-Hero-Desktop.png);
  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: left;
    @include m.desktop {
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.heading-primary {
  text-transform: uppercase;
  &--main {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;

    @include m.desktop {
      text-align: left;
      letter-spacing: 1.4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
  }
}

.btn--white {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    background-color: v.$light-btn;
    color: #000;
    font-weight: 600;

    @include m.desktop {
      padding: 0.8rem 3rem;
      letter-spacing: 0.4rem;
    }
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
