@use "../base/reset";
@use "../library/mixins" as m;
@use "../library/variables" as v;

body {
  background-color: v.$body-color;
  .filter {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 1rem;
      border-bottom: 1px solid v.$hr-line;
      gap: 2rem;
      margin-bottom: 1rem;
      @include m.desktop {
        justify-content: flex-start;
      }
      &__sortAlt {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.2rem;
        span {
          text-transform: capitalize;
          &:hover {
            text-decoration: underline;
          }
        }
        &__content{
          position: absolute;
          display: none;
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          background-color: white;
          top: 100%;
          left: 0;
          
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
          2px 2px 5px rgba(94, 104, 121, 0.3);
          z-index: 6;
            div {
              width: 100%;
              padding: 0.6rem 1rem;
              font-size: 0.8rem;
              &:hover {
                background-color: rgb(212, 212, 212);
                cursor: pointer;
              }
            }

        }
        .show {
          display: flex;
        }

      }
  }
}


/*------Products-----*/

.products {
  &__title {
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .products_center {
    width: 60vw;
    margin: 3rem auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    overflow: hidden;
    @include m.desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .product {
      cursor: pointer;
      background-color: #fff;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
        2px 2px 5px rgba(94, 104, 121, 0.3);
    }

    @include m.desktop {
      width: 90vw;
    }
    .img-container {
      position: relative;
      background-color: #fff;
      border-radius: 2px;
      padding: 2rem;
    }
    img {
      display: block;
      width: 100%;
      border-radius: 2px;
      &:hover {
        opacity: 70%;
      }
      @include m.desktop {
        margin-bottom: 2rem;
      }
    }

    .prductBrand {
      position: absolute;
      bottom: 15rem;
      @include m.desktop {
        bottom: 15.5rem;
      }
      text-transform: uppercase;
      font-size: 0.5rem;
      font-weight: 600;
      letter-spacing: 1.5px;
    }

    .info-container {
      text-transform: capitalize;
      border-radius: 2px;
      
      a, h3 {
        font-size: 1rem;
        letter-spacing: 2px;
        text-align: center;
        line-height: 1.5rem;
        text-decoration: none;
        color: #000;
      }
      h4 {
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5rem;
      }

      .button {
        position: absolute;
        transform: translate(11rem, -3.5ex);

        @include m.desktop {
          transform: translate(11rem, -3.5ex);
        }
        .bi-bag {
          color: v.$dark-btn;
          font-size: 1.5rem;
          border: none;
          cursor: pointer;
          &:hover {
            color: v.$nav-color;
          }
          @include m.desktop {
            position: relative;
          }
        }
      }
    }
  }
}
