@use "../base/reset";
@use "../library/mixins" as m;
@use "../library/variables" as v;

body {
  background-color: #eaeaea;
}

.filter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid v.$hr-line;

  @include m.desktop {
    justify-content: flex-start;
  }

  &__container {
    list-style: none;
    text-align: center;
  }

  &--dropdown {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    color: black;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;

    &:hover {
      background: v.$light-btn;
      cursor: pointer;
      border-radius: 2px;
    }
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}

/*------Products-----*/

.products {
  .section-title {
    text-align: center;
    font-size: 2.5rem;
  }

  .products_center {
    width: 60vw;
    margin: 2rem auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;

    .product {
      cursor: pointer;
    }

    @include m.desktop {
      width: 90vw;
    }
    .img-container {
      position: relative;
      box-shadow: 0 0 2px rgba(#000000, 0.2);
    }
    img {
      display: block;
      width: 100%;
      border-radius: 2px;
      &:hover {
        opacity: 70%;
      }
    }

    .info-container {
      text-transform: capitalize;
      padding-top: 1rem;
      h3 {
        font-size: 1rem;
        letter-spacing: 2px;
        text-align: left;
        margin-bottom: 0.5rem;
      }
      h4 {
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        margin-bottom: 0.5rem;
      }

      .button {
        position: relative;

        .fa-bag-shopping {
          font-size: 1.5rem;
          border: none;
          cursor: pointer;
          @include m.desktop {
            position: relative;
          }
        }
      }
    }
  }
}
