@use "../library/mixins" as m;
@use "../library/variables" as v;
@use "../base/reset";

#productInfo{

    /* visibility: hidden; */

    .back-arrow{
        
        position: absolute;
        top: 11%;
        left: 2%;

        @include m.desktop{
            top: 11%;
            left: 1%;
        }
        .backButton{

                li{
                    font-size: 35px;
                    color: v.$dark-btn;

                    @include m.desktop{
                        font-size: 25px;
                    }
                }
        }
    }

    .hero-container{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.desktop{
            flex-direction: row;
            justify-content: start;
            height: auto;
        }

        .product-img{
            height: 350px;
            width: 350px;

            @include m.productContainerShadow;

            @include m.desktop{
                height: 500px;
                width: 500px;
            }
        }

        .hero-product{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin: 45px;
            
            @include m.desktop{
                display: flex;
                flex-direction: row;
                justify-content: center ;
                margin: 6%;
            }

            .hero-detail-container{
                padding-top: 20px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: -195px;
                
                @include m.desktop{
                    margin-left: 50px;
                    width: 20%;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: -265px;
                }

                .hero-detail-name{
                    font-weight: bold;
                    padding: 10px;
                }

                .hero-detail-sub{
                    padding: 10px;
                }

                .productColor{
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: row;

                    .color1,
                    .blå {
                        color: transparent;
                        margin: 10px;
                        background-color: #29283D;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        border: 2px solid black;
                        display: block;

                        @include m.desktop{
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .color2,
                    .röd {
                        margin: 10px;
                        background-color: #e24a4a;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        display: block;

                        @include m.desktop{
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .color3,
                    .grön {
                        margin: 10px;
                        background-color: #449263;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        display: block;

                        @include m.desktop{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }

                .buyButton{
                    display: flex;

                    .blk--btn{
                        
                        display: flex;
                        background-color: black;
                        color: white;
                        width: 100px;
                        height: 50px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        margin-top: 35px;

                        @include m.productContainerShadow;

                        @include m.desktop{
                            width: 150px;
                            height: 75px;
                        }
                    }

                }
            }
        }   
    }
}
    