@use "../base/reset";
@use "../library/mixins" as m;
@use "../library/variables" as v;
@use "../layouts/cart";
@use "../layouts/productinfo";
@use "../layouts/filtercontainer";
@use "../layouts/lockedbackground";

body {
  background-color: v.$body-color;
  .filterBar {
    width: 90vw;
    margin: 0 auto;
    padding: 0.4em 0;
    display: flex;
    align-items: center;
    gap: 0.4em;
    border-bottom: v.$horisontalLine;
    margin-bottom: 1em;
    div {
      transition: opacity 0.1s ease-in;
      &:hover {
        opacity: 0.3;
      }
      i {
        font-size: 1.5em;
      }
    }
  }
  /*------Products-----*/

  .products {
    &__title {
      text-align: center;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 300;
    }

    &__center {
      width: 60vw;
      margin: 3rem auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem;
      overflow: hidden;
      @include m.desktop {
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    .product {
      padding: 1rem;
      border-radius: 3px;
      cursor: pointer;
      background-color: #fff;
      @include m.productContainerShadow;

      &__infoLink {
        text-decoration: none;
      }

      &__picture {
        min-height: 200px;

        img {
          width: 100%;
          &:hover {
            opacity: 70%;
          }
        }
      }

      &__info {
        position: relative;
        padding: 1rem;
        text-transform: capitalize;

        a,
        h3 {
          font-size: 1rem;
          letter-spacing: 2px;
          text-align: center;
          text-decoration: none;
          color: #000;
          &:hover {
            opacity: 50%;
          }
        }
        h4 {
          color: #000;
          font-size: 0.8rem;
          font-weight: 400;
          text-align: center;
          line-height: 1.5rem;
        }
      }
    }
    .buttonDiv {
      display: flex;
      justify-content: space-evenly;
      justify-items: center;
      position: relative;

      button {
        border: none;
        font-size: 1rem;
        font-weight: 500;
        width: 90%;
        padding: 0.5rem;
        border-radius: 3px;
        color: v.$body-color;
        background-color: v.$dark-btn;
        cursor: pointer;
        &:hover {
          opacity: 90%;
          border: none;
        }
        @include m.productContainerShadow;
        transition: 0.5s ease-in-out;
      }

      .bi-bag {
        padding: 5px;
        font-size: 1rem;
        border: none;
        cursor: pointer;
      }
    }
  }

  .imgCopy {
    position: absolute;
    animation-duration: 3s;
    animation-name: slide;
  }
  @keyframes slide {
    0% {
      opacity: 1;
      width: 100px;
      transform: translateX(0) translateY(-300px);
    }
    100% {
      opacity: 0;
      width: 20px;

      transform: translateX(0) translateY(0);
      // top: 30px;
      // right: 30px;
      // position: fixed;
    }
  }
}
