@use "../library/mixins";
@use "../library/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
body {
    background-color: v.$body-color;
    position: relative;
}
