@use "./variables" as v;
@mixin desktop {
  @media screen and (min-width: 800px) {
    @content;
  }
}
@mixin checkoutSectionTitel {
  display: flex;
  padding: 0.4em 0;
  font-size: 1em;
  margin-top: 1em;
}
@mixin checkoutPayOptionTitle {
  display: flex;
  padding: 0.5em;
}
@mixin checkoutSectionBorder {
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.3);
  border-radius: 0.1em;
  padding: 2em 1em;
}
@mixin submitGreenBtn {
  text-decoration: none;
  @include desktop {
    width: 50%;
    margin: 0 auto;
  }
  button {
    text-align: center;
    width: 100%;
    background-color: v.$green-btn;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.3);
    border: none;
    color: #fff;
    font-size: 1em;
    padding: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}

@mixin cartContainersDesktopWidth {
  @include desktop {
    width: 100%;
    margin: 0 auto;
  }
}
@mixin checkOutContainersDesktopWidth {
  @include desktop {
    width: 80%;
    margin: 0 auto;
  }
}

@mixin productContainerShadow {
  box-shadow: -5px -5px 10px v.$color-shadow-light,
    2px 2px 5px v.$color-shadow-dark;
}

<<<<<<< HEAD

@mixin itemAmountInput {
  width: 40%;
  text-align: center;
  background-color: fff;
  margin: 0 0.4em;
  border: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
}
=======
@mixin paymentGreatingTitle {
  font-size: 1rem;
  font-weight: 400;
}
>>>>>>> products-page
