@use "./variables" as v;
@mixin desktop {
  @media screen and (min-width: 800px) {
    @content;
  }
}
@mixin checkoutSectionTitel {
  display: flex;
  padding: 0.4em 0;
  font-size: 1em;
}
@mixin checkoutPayOptionTitle {
  display: flex;
  padding: 0.5em;
}
@mixin checkoutSectionBorder {
  border: 1px solid v.$form-label-color;
  border-radius: 0.1em;
  padding: 1em;
}
