@use "./variables" as v;
@mixin desktop {
  @media screen and (min-width: 800px) {
    @content;
  }
}
@mixin checkoutSectionTitel {
  display: flex;
  padding: 0.4em 0;
  font-size: 1em;
  margin-top: 1em;
}
@mixin checkoutPayOptionTitle {
  display: flex;
  padding: 0.5em;
}
@mixin checkoutSectionBorder {
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.3);
  border-radius: 0.1em;
  padding: 1em 0.4em;
}


