
// Colors
$nav-color: #313A2E;
$body-color: #EAEAEA;
$foot-color: #1A1A20;
$logo-color: #FFBC70;
$landingpage-text-color: #fff;

$light-btn: #E2E2E0;
$green-btn: #449263;
$dark-btn: #1A1A20;

$hr-line: #8B8B8B;