// Colors
$nav-color: #313a2e;
$body-color: #eaeaea;
$foot-color: #1a1a20;
$logo-color: #ffbc70;
$landingpage-text-color: #fff;
$form-label-color: #8b8b8b;
$filter-color: #eee;

$light-btn: #e2e2e0;
$green-btn: #449263;
$dark-btn: #1a1a20;

$hr-line: #8b8b8b;
$horisontalLine: 1px solid $hr-line;
